@model MegaCinema.Web.ViewModels.Ticket.TicketViewModel

@{
    ViewData["Title"] = "Book";
}

    <style type="text/css">

        body {
            background-image: url("https://i.imgur.com/ud4oPou.jpg");
            background-size: cover;
            background-attachment: fixed;
        }

        .content {
            background: white;
            width: 50%;
            padding: 40px;
            margin: 100px auto;
            font-family: calibri;
            border-radius: 10px;
        }

        /*p {
            font-size: 25px;
            color: black;
        }*/
    </style>


<div class="p-5 mb-2 bg-dark text-white">

    <h4 class="text-md-center text-white">Please select a seat </h4>
    <hr />
    <body style="background-color:dimgray";>
        <div class="row">
            <div class="col-md-4">
                <form asp-controller="Tickets" asp-action="BookTicket" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        @Html.DropDownListFor(
                       x => x.Price,
                       Model.TicketPrice.Select(s => new SelectListItem
                            {
                           Text = s.Type.ToString() + " Price: " + "$" + s.Price.ToString(),
                           Value = s.Price.ToString()
                            }),
                       "Please Select Ticket",
                       new { @class = "form-control chosen-select" }
                       )
                    </div>

                    <div class="form-group">
                        @Html.DropDownListFor(
                       x => x.Row,
                       Model.Rows.Select(s => new SelectListItem
                            {
                           Text = s.ToString(),
                           Value = s.ToString(),
                            }),
                       "Please Select Row",
                       new { @class = "form-control chosen-select" }
                       )
                    </div>


                    <div class="form-group">
                        @Html.DropDownListFor(
                       x => x.SeatNumer,
                       Model.SeatNumbers.Select(s => new SelectListItem
                            {
                           Text = s.ToString(),
                           Value = s.ToString()
                            }),
                       "Please Select Seat",
                       new { @class = "form-control chosen-select" }
                       )
                    </div>

                    <input id="ProjectionId" name="ProjectionId" type="hidden" value="@Model.ProjectionId" />

                    <div class="form-group">
                        <input type="submit" value="Book now" class="btn btn-primary" />
                    </div>
                </form>
            </div>

            <img src="~/css/images/seating_plans.jpg" alt="Seating plan" style="width:642px;height:400px;margin-left:35px;">
        </div>


        <div class="text-white">
            @if (Model.OccupiedSeats.Any())
            {
                int count = 0;
                <h3>Occupied seats for this projection: </h3>
                @foreach (var occupiedSeat in Model.OccupiedSeats)
                {
                    count += 1;
                    <text>@occupiedSeat.Name, </text>

                    @if (count % 16 == 0)
                    {
                        <br>
                    }
                }
            }
            @*else
            {
                <h3>There aren't reserved seats for this projection</h3>
            }*@

        </div>
        <br /> <br />

    </body>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
