@model MegaCinema.Web.ViewModels.Seats.SeatsSelectModel

<h2 class="text-white">Please Choose your seat</h2>
<body style="background-color:dimgray;">

    <label for="Row" class="text-white" >Choose a Row:</label>

    <select  id="row">
        @foreach (var row in Model.Rows)
        {
            <option value="@row">@row</option>
        }
    </select>

    <label for="Seat" class="text-white">Choose a Seat:</label>
    <select  id="seat">
        @foreach (var seat in Model.Seats)
        {
            <option value="@seat">@seat</option>
        }
    </select>

    <input type="submit" value="Book" class="btn btn-primary" />

    <p class="text-white"> Plan of the hall and the seats:</p>
    <img src="~/css/images/seating_plans.jpg" alt="Seating plan" style="width:642px;height:400px;margin-left:35px;">


</body>
@*@foreach (var row in Model.Rows)
    {
        <div>@row</div>
    }

    @foreach (var seat in Model.Seats)
    {
        <div>@seat</div>
    }*@
