@using MegaCinema.Common
@using MegaCinema.Web.ViewModels.Home;
@model IndexAllMoviesViewModel
@{
    this.ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">@GlobalConstants.SystemName!</h1>
    <h2>Your source for movie entertainment!</h2>
</div>

<br />

<div class="row">
    @foreach (var movie in Model.AllMovies)
    {
        <div class="col-md-4 media-body">
            <img src="@movie.Poster" width="170" class="mr-3" alt="@movie.Title">
            <div class="media-body">
                <h5 class="mt-0"> 
                <a href="@movie.Url"> @movie.Title 
                    </a>
                </h5>
                @movie.Language
            </div>
        </div>
    }
</div>