@using MegaCinema.Common
@using MegaCinema.Web.ViewModels.Home;
@model IndexAllMoviesViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<body style="background-color:dimgray;">

    <partial name="_SlideShow.cshtml" />

    <div class="p-5 mb-2 bg-dark text-white">
        <div class="text-center">
            <h1 class="display-4 text-white">@GlobalConstants.SystemName - Your source for movie entertainment!</h1>
            <h2 class="text-white">Take a look at our current movie hits, and don't forget to check our upcoming titles. </h2>
        </div>

        <br />

        <div class="row">
            @foreach (var movie in Model.AllMovies)
            {
                <div class="col-md-4 media-body">
                    <img src="@movie.Poster" width="180" height="260" class="mr-3 text-white" alt="@movie.Title">
                    <div class="media-body">
                        <h5 class="mt-0"> <a href="@movie.Url"> @movie.Title </a>  </h5>
                        @movie.Language | @movie.Genre | @movie.Rating
                    </div>
                    <br /> <br />
                </div>
                @*<br /> <br />*@
            }
        </div>
    </div>
</body>