@model MegaCinema.Web.ViewModels.Projection.AllProjectionsViewModel;

@{
    this.ViewData["Title"] = "Projections";
}

<style type="text/css">

    body {
        background-image: url("https://i.imgur.com/W56qdrF.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    .content {
        background: white;
        width: 50%;
        padding: 40px;
        margin: 100px auto;
        font-family: calibri;
        border-radius: 10px;
    }

    /*p {
        font-size: 25px;
        color: black;
    }*/
</style>


<body style="background-color:dimgray;">

    <partial name="_AnimatedCarrouselPartial.cshtml" />

    <div class="p-5 mb-2 bg-dark text-dark">

        <h3 class="text-capitalize text-md-center text-white">
            Check out all projectios for @DateTime.UtcNow.ToLongDateString() and book your ticket now!
        </h3>
        <hr />

        <div class="row">
            @foreach (var projection in Model.AllProjections)
            {
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <a href="@projection.LinkToMovie">
                            <img class="card-img-top" src="@projection.Movie.Poster" alt="Poster">
                        </a>
                        <div class="card-body">
                            <h5 class="media-body">
                                <a href="@projection.LinkToMovie"  >@projection.Movie.Title</a>
                            </h5>
                            <p class="card-text">Language: <strong> @(projection.Movie.Language) </strong></p>
                            <p class="card-text">Projection Type: <strong> @(projection.projectionTypeString)</strong> </p>
                            <p class="card-text">Genre: <strong> @(projection.Movie.Genre) </strong></p>

                            <a asp-controller="Projections" asp-action="ByProjectionId" asp-route-id="@projection.Id" class="btn btn-primary">@projection.StartTime.ToShortTimeString()</a>
                        </div>
                    </div>
                    <br />
                </div>
                <br />
            }
            <br />
        </div>
    </div>
</body>