@model MegaCinema.Web.ViewModels.Projection.ProjectionViewModel;

@{
    this.ViewData["Title"] = Model.Movie.Title;
}

<style type="text/css">

    body {
        background-image: url("https://i.imgur.com/LGbGuIe.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    .content {
        background: white;
        width: 50%;
        padding: 40px;
        margin: 100px auto;
        font-family: calibri;
        border-radius: 10px;
    }

    p {
        font-size: 20px;
        color: whitesmoke;
    }
</style>


<body style="background-color:dimgray;">

    <div class="container">
        <div class="row">
            <h2 class="text-white text-center">Book your ticket for <a href="/Movies/Details/@Model.MovieId"> @Model.Movie.Title </a> now:</h2>
        </div>

        <div class="p-5 mb-2 bg-dark text-dark">

            <div class="block">

                <div>
                    <img style="float: left; margin-right: 15px; margin-bottom: 10px" src="@Model.Movie.Poster" width="350" />
                </div>
                <div class="content-heading text-white text-center"><h3>Projection details: </h3></div>
                <hr />
                <p class="text-white">Movie: <strong>@Model.Movie.Title </strong></p>
                <p class="text-white">Projection type: <strong>@Model.projectionTypeString</strong></p>
                <p class="text-white">Projection Date: <strong>@Model.StartTime.ToShortDateString()</strong></p>
                <p class="text-white">Projection Time: <strong>@Model.StartTime.ToShortTimeString()</strong></p>
                <p class="text-white">Hall: <strong>@Model.Hall.Name</strong></p>
                <p class="text-white">Cinema: <strong>@Model.Cinema.City, @Model.Cinema.Address</strong></p>
                <a asp-area="" asp-controller="Tickets" asp-action="BookTicket" asp-route-projectionId="@Model.Id" class="btn btn-primary">Book Now</a>

                <br /> <br />  <br />  <br /> <br />  <br /> <br />  <br /> <br /> <br />  <br />
            </div>

        </div>
    </div>
</body>