@{
    this.ViewData["Title"] = Model.Title;
}
@model MegaCinema.Web.ViewModels.Movie.MovieViewModel

    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Cinema A Entertainment Category Flat Bootstarp Resposive Website Template | Single :: w3layouts</title>
        <link href="./Cinema A Entertainment Category Flat Bootstarp Resposive Website Template _ Single __ w3layouts_files/bootstrap.css" rel="stylesheet" type="text/css">
        <!-- Custom Theme files -->
        <link href="./Cinema A Entertainment Category Flat Bootstarp Resposive Website Template _ Single __ w3layouts_files/style.css" rel="stylesheet" type="text/css" media="all">
        <!-- Custom Theme files -->
        <script src="./Cinema A Entertainment Category Flat Bootstarp Resposive Website Template _ Single __ w3layouts_files/jquery.min.js.download"></script>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="keywords" content="Cinema Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--webfont-->
        <link href="./Cinema A Entertainment Category Flat Bootstarp Resposive Website Template _ Single __ w3layouts_files/css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- header-section-starts -->
        <div class="full">
            <div class="main">
                <div class="single-content">

                    <div class="reviews-section">
                        <h2 class="head">Movie Details</h2>
                        <div class="col-md-9 reviews-grids">
                            <div class="review">
                                <div class="movie-pic">
                                    <img src="@Model.Poster" width="350" alt="@Model.Title">
                                </div>
                                <div class="review-info">
                                    <p class="ratingview">
                                    </p>
                                    <div class="clearfix"></div>
                                    <p class="ratingview c-rating">Average Rating:</p>
                                    <div class="rating c-rating">
                                    </div>
                                    <p class="ratingview c-rating">
                                    </p>
                                    <div class="clearfix"></div>
                                    <div class="yrw">
                                        <div class="dropdown-button">
                                            <select class="dropdown" tabindex="9" data-settings="{&quot;wrapperClass&quot;:&quot;flat&quot;}">
                                                <option value="0">Your rating</option>
                                                <option value="1">1.Poor</option>
                                                <option value="3">2.Average</option>
                                                <option value="5">3.Watchable</option>
                                                <option value="7">4.Very good</option>
                                                <option value="8">5.Outstanding</option>
                                            </select>
                                        </div>
                                        <div class="rtm text-center">
                                        </div>
                                        <div class="wt text-center">
                                            <div style="overflow:hidden;position:
                                                    relative;">
                                                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                                        width="640" height="360" type="text/html"
                                                        src="https://www.youtube.com/embed/@Model.Trailer"></iframe>
                                                <div style="position: absolute;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
                                                    <small style="line-height: 1.8;font-size: 0px;background: #fff;">
                                                        <a href="https://seyout.com/">yout</a>
                                                    </small>
                                                </div>
                                                <style>
                                                    #gmap_canvas img {
                                                        max-width: none !important;
                                                        background: none !important
                                                    }
                                                </style>
                                            </div><br />
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <p class="info">CAST:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @(String.Join(", ", Model.Cast))</p>
                                    <p class="info">DIRECTION:&nbsp;&nbsp;&nbsp; &nbsp; @Model.Director</p>
                                    <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @(String.Join(", ", Model.GenresToDisplay))</p>
                                    <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; @Model.Duration</p>
                                    <div>
                                        <strong class="pad-right-sm margin-right-xs text-uppercase">Release Date:&nbsp;&nbsp;&nbsp; &nbsp; @Model.ReleaseDateToDisplay</strong>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="single">
                                <h3>Synopsis</h3>
                                <p>STORY:<i> @Model.Description</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </body>
    </html>