@{
    this.ViewData["Title"] = Model.Title;
}
@model MegaCinema.Web.ViewModels.Movie.MovieViewModel

<style type="text/css">

    body {
        background-image: url("https://i.imgur.com/yBdYffd.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    .content {
        background: white;
        width: 50%;
        padding: 40px;
        margin: 100px auto;
        font-family: calibri;
        border-radius: 10px;
    }

    p {
        font-size: 18px;
        color: white;
    }
</style>


<body style="background-color:dimgray;">
    <div class="p-5 mb-2 bg-dark text-white">
        <h3 class="head text-center text-capitalize">Movie Details</h3>
        <br />
        <hr />

        <div class="row">
            <div class="col-sm-5">
                <img src="@Model.Poster" width="350" alt="@Model.Title" style="float: left; margin-bottom: 15px">
                <br />
            </div>

            <div class="col-sm-7">
                <p class="info">MOVIE:&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.Title</p>
                <p class="info">CAST:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.Actors</p>
                <p class="info">DIRECTION:&nbsp;&nbsp;&nbsp; &nbsp; @Model.Director</p>
                <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.Genre</p>
                <p class="info">COUNTRIES:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.Country</p>
                <p class="info">LANGUAGE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.Language</p>
                <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; @Model.Duration</p>
                <p class="info">MPAA RATING:&nbsp;&nbsp;&nbsp; &nbsp; @Model.Rating.ToString() </p>
                <p class="info">SCORE:&nbsp;&nbsp;&nbsp; &nbsp; @Model.Score/10 </p>
                <p class="info">RELEASE DATE:&nbsp;&nbsp;&nbsp; &nbsp; @Model.ReleaseDateToDisplay</p>
            </div>

            <div class="single">
                <h3>Synopsis</h3>
                <p><i> @Model.Description</i></p>
            </div>
            <div style=" overflow: hidden; position: relative;">
            <iframe width="640" height="360"
                    src="https://www.youtube.com/embed/@Model.Trailer"></iframe>

            </div>

            <br />
        </div>

    </div>
</body>